version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - apps/backend/.env
    environment:
      - PORT=5000
    restart: always

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "5173:80"
    env_file:
      - apps/frontend/.env
    depends_on:
      - backend
    restart: always
