version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - apps/backend/.env.development
      - apps/backend/.env.production
    environment:
      - PORT=5000
    restart: always

  frontend:
    build:
      context: .
      dockerfile: apps/frontend/Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always

  dashboard:
    build:
      context: .
      dockerfile: apps/dashboard/Dockerfile
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: always
